.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.toolbar {
    // padding: 0 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.307);
    background: linear-gradient(to right, purple, rgb(255, 0, 136));
    position: fixed;
    z-index: 10;
    // &.dark {
    //     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.307);
    //     background: linear-gradient(to right, purple, rgb(255, 0, 136));
    // }
}