@import '../../../../styles';

:host {
    position: fixed;
    height: 100%;
    width: 60%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.312);
    z-index: 9999;
    background-color: white;
    z-index: 6;
}

.sideNavContent {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(235, 229, 255), rgb(236, 223, 255));
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: $headerHeight;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            text-align: left;
            padding: 10px;
            // background-color: peachpuff;
        }
    }
}

@media (min-width: 720px) {
    :host {
        display: none;
    }

    .sideNavContent {
        display: none;
    }
}