@use '../styles.scss' as styles;

.technical_skills {
    flex-direction: row !important;
    flex-wrap: wrap !important;
        box-sizing: border-box;
}

.education_item {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    // padding: 30px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.332);
    background-color: white;
    margin-bottom: 45px;
    border-radius: 5px;
    overflow: hidden;
}

.batch {
    background-color: rgb(126, 35, 126);
    color: white;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
        box-sizing: border-box;
}

.skill_tag {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    max-width: 100px;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.345) inset, 1px 2px 4px rgba(0, 0, 0, 0.329);
    background: linear-gradient(to bottom right, rgb(255, 224, 255), rgb(226, 200, 255));
        box-sizing: border-box;
}


#overview,
#personal_info,
#technical_skills,#education {
    box-sizing: border-box;
    padding: 20px 0;
        box-sizing: border-box;
}

.overview,
.personal_info,
.technical_skills {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 247, 246);
    color: black;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.359);
    padding: 20px;
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 6px;
        box-sizing: border-box;

    ul {
        list-style-type: square !important;
    }

    li {
        padding: 5px;
    }
}

.education {
    box-sizing: border-box;
    // display: flex;
    // flex-direction: column-reverse;
    color: black;
    // padding: 20px;
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 60px;
}

@media (min-width: 720px) {

    .overview,
    .personal_info,
    .technical_skills,
    .education {
        width: 60%;
    }
}

.aboutContent {
    background-color: rgba(0, 0, 0, 0.281);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

section {
    margin: auto;
    width: 100% !important;
    position: relative;
    // max-height: 500px;

    &#about {
        background: url('../assets/intro.jpg');
        color: white;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        height: 500px;
    }
}

.mainContent {
    height: 100%;
    display: block;
    padding-top: styles.$headerHeight;
    // overflow: auto;
}

.imgContainer {

    // height: 150px;
    // width: 150px;
    // background-image: url(../assets/my_pic.jpeg);
    // background-position: center;
    // background-clip: ;
    img {
        position: relative;
        border-radius: 50%;
        height: 180px;
        width: 180px;
        padding: 0;
        margin: 0;
        border: 2px solid white;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.451);
        z-index: 9999;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
}