footer{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 30px;
    background: linear-gradient(to right bottom, rgb(181, 223, 255), rgb(189, 212, 255));
}
:host{
    display: block;
}